@import "layout/global";
@import "layout/sidebar";
@import "layout/header";
@import "pages/login";
@import "components/content";
@import "pages/exit-officer";
@import "pages/enter-officer";
@import "pages/driver-details";
@import "pages/driver-details-two";
@import "pages/collector";
@import "pages/client";
@import "components/addOrder";
@import "settings/color";