.page{
    .sidebar{
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #FBFBFB;
        color: #242424;
        padding: 15px 5px 15px 0;
        transition: 0.3s;
        &.no-sidebar{
            right:-250px;
        }
        .btn-area{
            width: 200px;
            height: 42px;
            margin: 15px 0 20px 0 ;
            background: #00B98B 0% 0% no-repeat padding-box;
            border-radius: 21px;
            a{
                text-align: right;
                color: #ffffff;
                font-weight: bold;
                font-size: 20px;
                text-decoration: none;
                line-height: 2em;
            }
        }
        .links-area{
            //All links
            li{
                &:hover{
                    background-color: rgba(209, 242, 234, 1);
                    &:before{
                        content: "";
                        position: absolute;
                        right: 0px;
                        width: 5px;
                        height: 47px;
                        background-color: rgba(0, 185, 139, 1);
                    }
                }
                a{
                    text-align: right;
                    color: #707070;
                    padding: 10px 20px;
                    display: block;
                    transition: 0.3s;
                    font-weight: bold;
                    font-size: 18px;
                    &:hover{
                        text-decoration: none;
                        color: #242424;
                    }
                }
            }
            //main links
            .sidebar-active-links{
                background-color: rgba(209, 242, 234, 1);
                color: #00B98B;
                &:before{
                    content: "";
                    position: absolute;
                    right: 0px;
                    width: 5px;
                    height: 47px;
                    background-color: rgba(0, 185, 139, 1);
                }
            }
            > li > a {
                position: relative;
                color: #242424;
                padding-right: 80px;
                &:hover{
                    padding-right: 90px;
                }
                .icon-nav{
                    float: right;
                    font-size: 20px;
                    font-weight: bold;
                    color: rgba(0, 185, 139, 1);
                    position: absolute;
                    top: 14px;
                    right: 35px;
                    transition: 0.3s;
                }
            }
        }
        .buttom-links-area{
            position: absolute;
            bottom: 0 ;
            width: 100%;
            > li > a {
                padding-right: 40px;
                &:hover{
                    padding-right: 50px;
                }
                .icon-nav{
                    right: 7px;
                }
            }
        }
    }
}