.form-group{
    .add_driver_account{
        width: 100%;
        height: 42px;
        margin: 15px 0 20px 0;
        color: #ffffff;
        font-weight: bold;
        background: #00B98B;
        border-radius: 21px;
    }
    .add_driver{
        color:#00B98B;
        font-size: 16px;
        font-weight: bold;
    }
}

