#circle-donutchart{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    font-family: Arial;
    background-color: transparent;
    #chart {
        width: 100%;
        height: 100%;
    }
    #labelOverlay{
        width: 80px;
        height: 40px;
        position: absolute;
        top: 75px;
        left: 60px;
        text-align: center;
        cursor: default;
        p{
            line-height: 0.8;
            padding:0;
            margin: 8px;
        }
        .used-size{
            color: #242424;
            font-size: 30px;
            font-weight: bold;
        }
        .total-size{
            color: #707070;
            font-size: 20px;
            font-weight: bold;
        }
    }
}