.client{
    .content-area{
        .header{
            position: relative;
            .notfication{
                display: inline-block;
                position: absolute;    
                left: 200px;
                top: 25px;
                cursor: pointer;
                &::after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #00B98B;
                    border-radius: 50%;
                    left: 13px;
                }
            }
        }
        .filter-menu{
            position: relative;
            .left-nav{
                position: absolute;
                left: 110px;
                top: 0;
                button{
                    width: 200px;
                    border-radius: 15px;
                    background-color: #00B98B;
                    color: #FFFFFF;

                }
            }
        }
        .table-area{
            table{
                tbody{
                    td{
                        width: 100px;
                        .punishment{
                            width: 150px;
                            background-color: #707070;
                            color: #FFFFFF;
                        }
                    }
                    .report-desc{
                        color: #707070;
                        font-size: 16px;
                        width: 25%;
                    }
                    .pages_btn{
                        span{
                            width: 200px;
                            background-color: #FFEEDB;
                            color: #F29122;
                            i{
                                margin-left: 20px;
                            }
                        }
                    }
                    .pages_btn_danger{
                        span{
                            background-color: #FFDEDE !important;
                            color: #F61818 !important;
                            font-weight: bold;
                        }
                    }
                    .buttons{
                        width: 300px;
                        text-align: left;
                        line-height: 1em;                    
                        padding-bottom: 0;
                    }
                    .last-redius-border{
                        padding-bottom: 0;
                        .td-dropdown{
                            float: left;
                            padding-left: 30px;
                        }
                    }
                }
            }
            #Accepted{
                td{
                    padding-left:0;
                    .td-dropdown{
                        text-align: center;
                    }
                }
                .buttons{ 
                    text-align: left;
                }
            }
        }
    }
}
.manger-reports-model{   
    .modal-content{
        padding: 40px 0;
        .modal-body{
            form{
                .form-group{
                    input::placeholder{
                        font-weight: bold;
                        color: #a4a4a4;
                        font-size: 16px;
                    }
                }
                .btn{
                    border-radius: 20px;
                    background-color: #00B98B;
                    border: none;
                    width: 100%;
                    font-weight: bold;
                }
            }
        }
    } 
}

.firstModel{
    .modal-content{
        .modal-body{
            padding-left: 0;
            padding-right: 0;
            .header-title{
                border-bottom: 10px solid #f8f6f6;
            }
            .header-content{
                .title-header-content{
                    padding:15px;
                    p{
                        color: #242424;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
            .content{
                display: flex;
                padding:15px;
                border-bottom: 1px solid #E2E7EE;
                color: #242424;
                &:last-child{
                    border-bottom:none;
                }
                .title-content{
                    font-weight: bold;
                    width: 50%;
                    font-size: 16px;
                    color: #242424;
                    padding-bottom: 0;
                }
                .subTitle-content{
                    font-size: 16px;
                    width: 50%;
                    text-align: left;
                    color: #505050;
                    padding-bottom: 0;
                }
                .accept-two{
                    border-radius: 20px;
                    background-color: #00b98b;
                    width: 60%;
                    margin-left: 10px;
                    color: #ffffff;
                    font-weight: bold;
                }
                .refuse-two{
                    border-radius: 20px;
                    background-color: #cc1435;
                    color: #ffffff;
                    font-weight: bold;
                    width: 40%;
                }
            }
        }
    }
}
.secondModel{
    .modal-content{
        .modal-body{
            .header-title{
                border-bottom: none;
                .title-header-content{
                    padding:15px;
                    p{
                        color: #242424;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}