.collector{
    .content-area{
        .header{
            position: relative;
            .notfication{
                display: inline-block;
                position: absolute;    
                left: 200px;
                top: 25px;
                cursor: pointer;
                &::after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #00B98B;
                    border-radius: 50%;
                    left: 13px;

                }
            }
        }
        .table-area{
            table{
                tbody{
                    td{
                        width: 100px;
                    }
                    .accept{
                        float: left;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.modal{
    .modal-content{
        padding-bottom: 0;
        .modal-header{
            h5{
                position: absolute;
                top: 15px;
            }
            .close{
                span{
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    font-weight: normal;
                } 
            }
        }
        .modal-body{
            margin: 20px 0 0 0;
            h3{
                color: #242424;
                font-size: 18px;
            }
            .drivers{
                margin-top: 15px;
                .driver_btn{
                    position: relative;
                    padding: 5px;
                    background-color: inherit;
                    display: block;
                    width: auto;
                    margin-bottom: 15px;
                    border: none;
                    img{
                        max-width: 40px;
                    }
                    span{
                        margin-right: 20px;
                        color: #242424;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        padding: 0;
                        width: 475px;
                        right: 0;
                        left: 0;
                        margin: 10px 0 0 0;
                        height: 1px;
                        background-color: #CFCFCF;
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}