.enter{
    .content-area{
        .header{
            position: relative;
            .notfication{
                display: inline-block;
                position: absolute;    
                left: 200px;
                top: 25px;
                cursor: pointer;
                &::after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #00B98B;
                    border-radius: 50%;
                    left: 13px;
                }
            }
        }
        .table-area{
            table{
                tbody{
                    td{
                        width: 100px;
                    }
                    .accept{
                        float: left;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}