.manger-pages{
    .content-area{
        .filter-menu{
            .left-nav{
                .list{
                    a{
                        background-color: #00b98b;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}